/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
  --body-delete-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: 'Brush Script MT', cursive;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour); 
}

.todoDeleteButton {
  margin-left: 2rem;
  background-color: var(--body-delete-colour);
  color:var(--body-background-colour);
  height: 30px;
}

.doneButton {
  height: 30px;
}

.done {
  background-color: #457b9d;
}

main {
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content:space-around;
}

.form1 {
  display: flex;
  justify-content:center;
}

p {
  display: flex;
  justify-content: center;

}

ul {
  list-style-type: none;
}

li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

span{
  padding-left: 20px;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
