/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
  --body-delete-colour: var(--colour-cello);
  --nav-background-color: var(--colour-aquaisland);
  --body-done-background-colour: var(--colour-aquaisland);
  --body-list-background-colour: white;
}

/*
  PAGE / BODY
*/
body {
  font-family: 'Verdana', sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour); 
}

main {
  min-height: 100vh;
}

.form1 {
  display: flex;
  justify-content:center;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}

li {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
}

span{
  padding-left: 5px;
}

p {
  display: flex;
  justify-content: center;
}

.navBar{
  background-color: var(--nav-background-color);
  display: flex;
  align-items: center;
} 

.logoImg{
  max-width: 5%;
  height: auto;
}

h2{
  display: grid;
  justify-content: center;
  padding: 40px 0px 0.5% 0px;
}

h3{
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
  display: none; 
}

.tempState{
  display: inline-flexbox;
  justify-content: center;
  padding-top: 15%;
}

.addButton {
  border-radius: 10%;
  border: none;
  background-color: var(--body-delete-colour);
  color:var(--body-background-colour);
  margin-left: 10px;
}

.addButton:hover{
  background-color: var(--body-done-background-colour);
  color:var(--body-delete-colour);
  /* transition: 0.7s; */
}

.todoDeleteButton {
  background-color: var(--body-delete-colour);
  color:var(--body-background-colour);
  height: 30px;  
  border-radius: 1%;
  border: none;
}

.todoDeleteButton:hover{
  color:var(--body-default-colour);
  background-color: var(--body-done-background-colour);
  /* transition: 0.7s; */
}

.doneButton {
  height: 30px;
  border-radius: 1%;
  border: none;
  background-color: var(--body-list-background-colour);
}

.doneButton:hover{
  background-color: var(--body-done-background-colour);
  color:var(--body-delete-colou);
  /* transition: 0.1s; */
}

.done {
  background-color: var(--body-done-background-colour);
}

.clearAllButton{
  border-radius: 1%;
  border: none;
  background-color: var(--body-default-colour);
  color:var(--body-background-colour);
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearAllButton:hover{
  color:var(--body-default-colour);
  background-color: var(--body-done-background-colour);
  /* transition: 0.7s; */
}

.content {
  margin: 10px 10% 10px 10%;
}

footer {
  background-color: var(--body-done-background-colour);
}

.instructions{
  margin: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.snowman{
  min-width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
